<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>WE</string>
	<key>CFBundleIdentifier</key>
	<string>com.antigravity.we</string>
	<key>CFBundleName</key>
	<string>WE</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.3</string>
	<key>CFBundleVersion</key>
	<string>0.2.3</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>WE 需要麦克风权限进行语音转写</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>WE 需要语音识别权限进行端侧转写</string>
</dict>
</plist>
